@import "../vendor/bootstrap/bootstrap-grid.scss";

.navbar {
    margin: 0;
    background-color: #fff; 
    &-brand {
        height: auto;
    }
    &-nav {
        margin: 10px 0;
        & a.nav-link {
            padding: 15px !important;
            line-height: 20px;
        }
        & li.active {
            @include media-breakpoint-up(lg) {
                a:after {
                    position: relative;
                    top: 4px;
                    display: block;
                    content: "";
                    border-bottom: solid 2px $accent-color;
                }
            }
        }
    }
}